In [5]:
import pandas as pd
df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df['City'] = df['City'].str.strip(',').str.strip().str.lower()
my_districts = {
    'avondale': 'harare',
    'acturus': 'goromonzi',
    'arcturus': 'goromonzi',
    'bazel bridge': 'mutare',
    'beltbridge': 'beitbridge',
    'binbura': 'bindura',
    'birchenough': 'chimanimani',
    'birchnough bridge': 'chimanimani',
    'birchenough bridge': 'chimanimani',
    'beatrice':'seke',
    'biriiri': 'chimanimani',
    'biulawayo': 'bulawayo',
    'bocha': 'mutare',
    'bundura': 'bindura',
    'byo':'bulawayo',
    'budiriro' :'harare',
    'bulawawo': 'bulawayo',
    'bulaway0': 'bulawayo',
    'bulawayo': 'bulawayo',
    'bundura': 'bindura',
    'ntabazinduna': 'umguza',
    'chatsworth': 'gutu',
    'centinary': 'centenary',
    'charandura': 'chirumhanzu',
    'checheche': 'chipinge',
    'chibuwe': 'chipinge',
    'centinary': 'centenary',
    'chachacha': 'shurugwi',
    'chakari': 'chegutu',
    'chakohwa':'chimanimani',
    'chakonda': 'shamva',
    'charandura': 'chirumhanzu',
    'chirundu': 'mount darwin',
    'chadekera': 'hwange',
    'chtungwiza': 'seke',
    'chiwundura': 'gweru',
    'chiitungwiza': 'seke',
    'chirundu': 'mount darwin',
    'chihota': 'marondera',
    'chiota':'marondera',
    'chiredzo': 'chiredzi',
    'cross dete': 'hwange',
    'chivero': 'mazowe',
    'chtungwiza': 'seke',
    'chiundura': 'gweru',
    'chiwundura': 'gweru',
    'chikombedzi': 'chiredzi',
    'chikonohono' : 'chegutu',
    'chikwawa': 'mudzi',
    'chikwaka': 'mudzi',
    'chinamhora':'goromonzi',
    'chinyoro': 'chipinge',
    'chipadze': 'bindura',
    'chipangayi': 'chipinge',
    'chirundu': 'hurungwe',
    'chirumanzu': 'chirumhanzu',
    'concession': 'mazowe',
    'dete': 'hwange',
    'dandamera': 'mazowe',
    'darwedale': 'zvimba',
    'darwendale':'zvimba',
    'dema': 'mutoko',
    'donga': 'binga',
    'dorowa': 'gutu',
    'dotito': 'mount darwin',
    'chirumanzu' : 'chirumhanzu',
    'dangamvura': 'mutare',
    'domboshawa': 'goromonzi',
    'epworth': 'harare',
    'esigodini':'umzingwane',
    'plumtree': 'bulilimamangwe',
    'glandale': 'mazowe',
    'glendale':'mazowe',
    'greendale': 'harare',
    'queensdale': 'harare',
    'harae': 'harare',
    'herare': 'harare',
    'highlands': 'harare',
    'headlands': 'makoni',
    'howard': 'mazowe',
    'honde valley': 'mutasa',
    'hopley': 'harare',
    'inyanga': 'nyanga',
    'figtree': 'bulilimamangwe',
    'filabusi' : 'insiza',
    'glendale': 'mazowe',
    'goromonzi1':'goromonzi',
    'juliasdale': 'nyanga',
    'jerera': 'zaka',
    'juru':'goromonzi',    
    'kamutsenzere': 'mount darwin',
    'lower gweru': 'gweru',
    'lupane': 'bulawayo',
    'luthumba':'beitbridge',
    'mvuma':  'chirumhanzu',
    'mabvuku': 'harare',
    'machipisa': 'harare',
    'macheke': 'murehwa',
    'madziva': 'mount darwin',
    'madziwa': 'mount darwin',
    'magunje': 'hurungwe',
    'magaba': 'harare',
    'malbereign' : 'harare',
    'mazoe': 'mazowe',
    'mapinga': 'zvimba',
    'ngezi': 'mhondoro ngezi',
    'mhondoro': 'mhondoro ngezi',
    'mount hampden': 'harare',
    'mutasa': 'nyanga',
    'mt selinda': 'chipinge',
    'marirangwe' : 'seke',
    'mashava': 'chivi',
    'mashoko': 'bikita',
    'mukumbura': 'mount darwin',
    'mt darwin': 'mount darwin',
    'muzabarani': 'muzarabani',
    'mzarabani': 'muzarabani',
    'mahusekwa' : 'marondera',
    'manyame': 'seke',
    'maphisa': 'matobo',
    'majunje': 'buhera',
    'makuvatsine': 'norton',
    'marange': 'mutare',
    'mvurwi': 'mazowe',
    'odzi':'mutare',
    'nyika': 'bikita',
    'nzvimbo': 'mazowe',
    'penhalonga':'mutasa',
    'paybay test': 'harare',
    'suoguru': 'mazowe',
    'stapleford': 'mutasa',
    'nemamwa' :'bikita',
    'nembudziya': 'gokwe',
    'nenhowe': 'chimanimani',
    'neshuro': 'mwenezi',
    'sidakeni': 'kwekwe',
    'shangani': 'insiza',
    'shasha': 'chirumhanzu',
    'silobela': 'kwekwe',
    'southerton': 'harare',
    'nganga': 'nyanga',
    'ngundu': 'chivi',
    'nhakiwa': 'chimanimani',
    'nhedziwe': 'chimanimani',
    'kanhukamwe': 'mazowe',
    'norton': 'chegutu',
    'makuvatsine': 'chegutu',
    'kanyemba': 'mbire',
    'tsvingwe': 'mutasa',
    'tsungudzi': 'chimanimani',
    'triangle': 'chiredzi',
    'treawney': 'makonde',
    'tpspaybay': 'harare',
    'kazangarare': 'hurungwe',
    'kazungula': 'lupane',
    'kezi':'matobo',
    'kotwa': 'mudzi',
    'mhondoro': 'kadoma',
    'mhondoro ngezi': 'kadoma',
    'mnene': 'mberengwa',
    'mopani': 'chegutu',
    'mamina': 'kadoma',
    'kutama': 'kutama',
    'mandava': 'chirumhanzu',
    'mhangura': 'makonde',
    'mpandawna': 'gutu',
    'nhedziwa': 'chimanimani',
    'redcliff' : 'kwekwe',
    'lalapanzi':'chirumhanzu',
    'lions den': 'makonde',
    'selous': 'harare',
    'mrewa': 'bindura',
    'mtawatawa' : 'uzumba maramba pfungwe',
    'mutawatawa': 'uzumba maramba pfungwe',
    'uzumba': 'uzumba maramba pfungwe',
    'ump': 'uzumba maramba pfungwe',
    'mtoko': 'mutoko',
    'mubaira': 'chegutu',
    'murambinda': 'buhera',
    'murewa': 'murehwa',
    'musami': 'murehwa',
    'murombedzi' : 'zvimba',
    'mutorashanga' : 'zvimba',
    'rafingora' : 'zvimba',
    'redcliff': 'kwekwe', 
    'redcliff' : 'kwekwe', 
    'rose way': 'harare',
    'rusununguko': 'shurugwi',
    'rutenga' : 'mwenezi',
    'ruzawi': 'marondera',
    'ruwa': 'goromonzi',
    'selous': 'chegutu',
    'tengwe' : 'hurungwe',
    'torwood': 'kwekwe',
    'tynwald': 'harare',
    'tsvingwe': 'mutasa',
    'triangle': 'chiredzi',
    'sadza': 'chikomba',
    'sanyati': 'kadoma',
    'watsomba': 'mutasa',
    'vctoria falls': 'hwange',
    'vic falls': 'hwange',
    'vicfalls': 'hwange',
    'victoria  falls': 'hwange',
    'victoriafalls': 'hwange',
    'victotia falls': 'hwange',
    'victria falls': 'hwange',
    'wedza': 'hwedza',
    'zimbabwe': 'harare',
    'zvipani': 'hurungwe',
    'zhombe': 'kwekwe',
    '020-64632':'mutare',
    'ab chikomba' : 'marondera',
    'mdindo': 'harare',
    'no address' : 'harare',
    'norton' : 'mazowe',
    'nedziwa' : 'chimanimani',
    'redcliff kwekwe' : 'kwekwe',
    'rukweza': 'makoni',
    'mt hampden':'harare',
    'kutama': 'zvimba',    
    'bulawayyo': 'bulawayo',      
    'inyathi':  'hwange',
    'mucheke' : 'chivi',
    'rujeko': 'masvingo',
    'norton' : 'mazowe',
    'kutsaga': 'goromonzi',
    'nyamapanda':'mudzi',
    'hurugwe': 'hurungwe',
    'banket':'zvimba',
    'domboshava':'goromonzi',
    'hauna':'mutasa',
    'nyabira':'zvimba',
    'nyamhunga':'buhera',
    'raffingora': 'zvimba',
    'banket': 'zvimba',
    'rusape' : 'makoni',
    'chiweshe': 'mazowe',
    'city': 'harare',
    'nyazura': 'makoni',
    'gokwe south': 'gokwe',
    'gokwe north': 'gokwe',
    'karoi': 'hurungwe',
    'chinhoyi': 'makonde',
    'chitungwiza': 'seke',
    'victoria falls': 'hwange',
     'chivhu' : 'chikomba'
}     
df["City"].replace(my_districts, inplace=True)
df = df[['City', 'Address 3','Physical TId' , 'Terminal Id']]

# provinces
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])
df_prov['District'] = df_prov['District'].str.strip(',').str.strip().str.lower()
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')

In [6]:
cities_raw[cities_raw['District'].isna()]

Empty DataFrame
Columns: [City, Address 3, Physical TId, Terminal Id, Province, District]
Index: []

In [135]:
#df_adres = df[['City', 'Address 3','Address 2' , 'Terminal Id' ]]

In [134]:
#df_adres

               City     Address 3 Physical TId Terminal Id
0            harare     SOUTHVIEW     3C469032    SBA13410
1            harare        HARARE     3C469802    SBA13349
2            mutare        MUTARE     3C025503    SBM57065
3            mutare          Odzi     3C022047    SBM51284
4            harare           CBD   0840050038    SQL18221
...             ...           ...          ...         ...
39725        mutare           NaN     3C021627    SBM25686
39726        mazowe       Nzvimbo     3C025609    SBM37732
39727         karoi       Magunje     3C469117    SBM08528
39728         karoi       Magunje     3K240190    SBM51985
39729  mount darwin  Mount Darwin     3C022736    SBM39219

[39730 rows x 4 columns]

In [178]:
df["City"].replace(my_districts, inplace=True)

In [184]:
df['City'].value_counts()

harare      20043
bulawayo     3733
mutare       2136
masvingo     1783
gweru        1464
            ...
nkayi           4
mbire           3
matobo          3
umguza          3
lupane          2
Name: City, Length: 64, dtype: int64

In [101]:
df = df[['City', 'Address 3','Physical TId' , 'Terminal Id' ]]

In [102]:
df.head()

     City  Address 3 Physical TId Terminal Id
0  harare  SOUTHVIEW     3C469032    SBA13410
1  harare     HARARE     3C469802    SBA13349
2  mutare     MUTARE     3C025503    SBM57065
3  mutare       Odzi     3C022047    SBM51284
4  harare        CBD   0840050038    SQL18221

In [103]:
city =  df.iloc[:,1]

In [46]:
cities = df.groupby(["City"]).count()

In [106]:
df[df['City'] == 'gokwe north']

Empty DataFrame
Columns: [City, Address 3, Physical TId, Terminal Id]
Index: []

In [131]:
sorted(df.City.unique())

['Bulilimamangwe',
 'beitbridge',
 'bikita',
 'bindura',
 'binga',
 'buhera',
 'bulawayo',
 'centenary',
 'chegutu',
 'chikomba',
 'chimanimani',
 'chinhoyi',
 'chipinge',
 'chiredzi',
 'chirumhanzu',
 'chitungwiza',
 'chivhu',
 'chivi',
 'gokwe',
 'goromonzi',
 'guruve',
 'gutu',
 'gwanda',
 'gweru',
 'harare',
 'hurungwe',
 'hwange',
 'hwedza',
 'insiza',
 'kadoma',
 'kariba',
 'karoi',
 'kwekwe',
 'lupane',
 'makonde',
 'makoni',
 'marondera',
 'masvingo',
 'matobo',
 'mazowe',
 'mberengwa',
 'mbire',
 'mhondoro ngezi',
 'mount darwin',
 'mudzi',
 'murehwa',
 'mutare',
 'mutasa',
 'mutoko',
 'muzarabani',
 'mwenezi',
 'nkayi',
 'nyanga',
 'rushinga',
 'seke',
 'shamva',
 'shurugwi',
 'tsholotsho',
 'umguza',
 'umzingwane',
 'uzumba maramba pfungwe',
 'victoria falls',
 'zaka',
 'zvimba',
 'zvishavane']

In [ ]:
df['City'].value_counts()

In [23]:
import operator
sorted(my_districts.items(), key=operator.itemgetter(1))

[('plumtree', 'Bulilimamangwe'),
 ('figtree', 'Bulilimamangwe'),
 ('beltbridge', 'beitbridge'),
 ('luthumba', 'beitbridge'),
 ('mashoko', 'bikita'),
 ('nyika', 'bikita'),
 ('nemamwa', 'bikita'),
 ('binbura', 'bindura'),
 ('bundura', 'bindura'),
 ('chipadze', 'bindura'),
 ('mrewa', 'bindura'),
 ('donga', 'binga'),
 ('majunje', 'buhera'),
 ('murambinda', 'buhera'),
 ('nyamhunga', 'buhera'),
 ('biulawayo', 'bulawayo'),
 ('byo', 'bulawayo'),
 ('bulawawo', 'bulawayo'),
 ('bulaway0', 'bulawayo'),
 ('bulawayo', 'bulawayo'),
 ('lupane', 'bulawayo'),
 ('bulawayyo', 'bulawayo'),
 ('centinary', 'centenary'),
 ('chakari', 'chegutu'),
 ('chikonohono', 'chegutu'),
 ('makuvatsine', 'chegutu'),
 ('mopani', 'chegutu'),
 ('selous', 'chegutu'),
 ('mubaira', 'chegutu'),
 ('sadza', 'chikomba'),
 ('birchenough', 'chimanimani'),
 ('birchnough bridge', 'chimanimani'),
 ('birchenough bridge', 'chimanimani'),
 ('biriiri', 'chimanimani'),
 ('chakohwa', 'chimanimani'),
 ('nenhowe', 'chimanimani'),
 ('nhakiwa', 'chimanimani'),
 ('nhedziwe', 'chimanimani'),
 ('tsungudzi', 'chimanimani'),
 ('nhedziwa', 'chimanimani'),
 ('nedziwa', 'chimanimani'),
 ('treawney', 'chinhoyi'),
 ('checheche', 'chipinge'),
 ('chibuwe', 'chipinge'),
 ('chinyoro', 'chipinge'),
 ('chipangayi', 'chipinge'),
 ('mt selinda', 'chipinge'),
 ('chiredzo', 'chiredzi'),
 ('chikombedzi', 'chiredzi'),
 ('triangle', 'chiredzi'),
 ('charandura', 'chirumhanzu'),
 ('chirumanzu', 'chirumhanzu'),
 ('mvuma', 'chirumhanzu'),
 ('shasha', 'chirumhanzu'),
 ('mandava', 'chirumhanzu'),
 ('lalapanzi', 'chirumhanzu'),
 ('chtungwiza', 'chitungwiza'),
 ('chiitungwiza', 'chitungwiza'),
 ('manyame', 'chitungwiza'),
 ('mashava', 'chivi'),
 ('ngundu', 'chivi'),
 ('mucheke', 'chivi'),
 ('nembudziya', 'gokwe north'),
 ('acturus', 'goromonzi'),
 ('arcturus', 'goromonzi'),
 ('chinamhora', 'goromonzi'),
 ('domboshawa', 'goromonzi'),
 ('goromonzi1', 'goromonzi'),
 ('juru', 'goromonzi'),
 ('ruwa', 'goromonzi'),
 ('kutsaga', 'goromonzi'),
 ('domboshava', 'goromonzi'),
 ('chatsworth', 'gutu'),
 ('dorowa', 'gutu'),
 ('mpandawna', 'gutu'),
 ('chiwundura', 'gweru'),
 ('chiundura', 'gweru'),
 ('lower gweru', 'gweru'),
 ('avondale', 'harare'),
 ('budiriro', 'harare'),
 ('epworth', 'harare'),
 ('greendale', 'harare'),
 ('queensdale', 'harare'),
 ('harae', 'harare'),
 ('herare', 'harare'),
 ('highlands', 'harare'),
 ('hopley', 'harare'),
 ('mabvuku', 'harare'),
 ('machipisa', 'harare'),
 ('magaba', 'harare'),
 ('malbereign', 'harare'),
 ('mount hampden', 'harare'),
 ('paybay test', 'harare'),
 ('southerton', 'harare'),
 ('tpspaybay', 'harare'),
 ('rose way', 'harare'),
 ('tynwald', 'harare'),
 ('zimbabwe', 'harare'),
 ('mdindo', 'harare'),
 ('no address', 'harare'),
 ('mt hampden', 'harare'),
 ('city', 'harare'),
 ('tengwe', 'hurugwe'),
 ('chirundu', 'hurungwe'),
 ('magunje', 'hurungwe'),
 ('zvipani', 'hurungwe'),
 ('hurugwe', 'hurungwe'),
 ('cross dete', 'hwange'),
 ('dete', 'hwange'),
 ('inyathi', 'hwange'),
 ('victoria falls', 'hwange'),
 ('wedza', 'hwedza'),
 ('filabusi', 'insiza'),
 ('shangani', 'insiza'),
 ('mhondoro', 'kadoma'),
 ('mhondoro ngezi', 'kadoma'),
 ('mamina', 'kadoma'),
 ('sanyati', 'kadoma'),
 ('kazangarare', 'karoi'),
 ('sidakeni', 'kwekwe'),
 ('silobela', 'kwekwe'),
 ('redcliff', 'kwekwe'),
 ('torwood', 'kwekwe'),
 ('zhombe', 'kwekwe'),
 ('redcliff kwekwe', 'kwekwe'),
 ('kazungula', 'lupane'),
 ('mhangura', 'makonde'),
 ('lions den', 'makonde'),
 ('headlands', 'makoni'),
 ('rukweza', 'makoni'),
 ('rusape', 'makoni'),
 ('chihota', 'marondera'),
 ('chiota', 'marondera'),
 ('mahusekwa', 'marondera'),
 ('ruzawi', 'marondera'),
 ('ab chikomba', 'marondera'),
 ('rujeko', 'masvingo'),
 ('maphisa', 'matobo'),
 ('kezi', 'matobo'),
 ('chivero', 'mazowe'),
 ('concession', 'mazowe'),
 ('dandamera', 'mazowe'),
 ('glandale', 'mazowe'),
 ('glendale', 'mazowe'),
 ('howard', 'mazowe'),
 ('mazoe', 'mazowe'),
 ('mvurwi', 'mazowe'),
 ('nzvimbo', 'mazowe'),
 ('suoguru', 'mazowe'),
 ('kanhukamwe', 'mazowe'),
 ('norton', 'mazowe'),
 ('chiweshe', 'mazowe'),
 ('mnene', 'mberengwa'),
 ('kanyemba', 'mbire'),
 ('ngezi', 'mhondoro ngezi'),
 ('dotito', 'mount darwin'),
 ('kamutsenzere', 'mount darwin'),
 ('madziva', 'mount darwin'),
 ('madziwa', 'mount darwin'),
 ('mukumbura', 'mount darwin'),
 ('mt darwin', 'mount darwin'),
 ('chikwawa', 'mudzi'),
 ('chikwaka', 'mudzi'),
 ('kotwa', 'mudzi'),
 ('nyamapanda', 'mudzi'),
 ('macheke', 'murehwa'),
 ('murewa', 'murehwa'),
 ('musami', 'murehwa'),
 ('bazel bridge', 'mutare'),
 ('bocha', 'mutare'),
 ('dangamvura', 'mutare'),
 ('marange', 'mutare'),
 ('odzi', 'mutare'),
 ('020-64632', 'mutare'),
 ('honde valley', 'mutasa'),
 ('penhalonga', 'mutasa'),
 ('stapleford', 'mutasa'),
 ('tsvingwe', 'mutasa'),
 ('watsomba', 'mutasa'),
 ('hauna', 'mutasa'),
 ('dema', 'mutoko'),
 ('mtoko', 'mutoko'),
 ('muzabarani', 'muzarabani'),
 ('mzarabani', 'muzarabani'),
 ('neshuro', 'mwenezi'),
 ('rutenga', 'mwenezi'),
 ('inyanga', 'nyanga'),
 ('juliasdale', 'nyanga'),
 ('mutasa', 'nyanga'),
 ('nganga', 'nyanga'),
 ('beatrice', 'seke'),
 ('marirangwe', 'seke'),
 ('chakonda', 'shamva'),
 ('chachacha', 'shurugwi'),
 ('rusununguko', 'shurugwi'),
 ('ntabazinduna', 'umguza'),
 ('esigodini', 'umzingwane'),
 ('mtawatawa', 'uzumba_maramba_pfungwe'),
 ('mutawatawa', 'uzumba_maramba_pfungwe'),
 ('uzumba', 'uzumba_maramba_pfungwe'),
 ('ump', 'uzumba_maramba_pfungwe'),
 ('chadekera', 'victoria falls'),
 ('vctoria falls', 'victoria falls'),
 ('vic falls', 'victoria falls'),
 ('vicfalls', 'victoria falls'),
 ('victoria  falls', 'victoria falls'),
 ('victoriafalls', 'victoria falls'),
 ('victotia falls', 'victoria falls'),
 ('victria falls', 'victoria falls'),
 ('jerera', 'zaka'),
 ('darwedale', 'zvimba'),
 ('darwendale', 'zvimba'),
 ('mapinga', 'zvimba'),
 ('kutama', 'zvimba'),
 ('murombedzi', 'zvimba'),
 ('mutorashanga', 'zvimba'),
 ('rafingora', 'zvimba'),
 ('banket', 'zvimba'),
 ('nyabira', 'zvimba'),
 ('raffingora', 'zvimba')]

In [27]:
provinces = pd.DataFrame(my_districts.items(), columns=['district', 'province'])

In [48]:
cities.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\cities.csv', index = False)

In [ ]:

import pandas as pd
import numpy as np
Importing data
#df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])
df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2])
df_prov.District = df_prov.District.str.lower()


# df[['City','Merchant Id', 'Address 3','Physical TId' , 'Location', 'Terminal Id' ]
#df[['City', 'Address 3','Physical TId' , 'Terminal Id' ]]
## Categorical Analysis with POS Asset
df = pd.read_csv(r'C:\Users\User\Downloads\POSAssetReport.29-Mar-2021 - Assets.csv', skiprows=2)
df['City'] = df['City'].str.strip(',').str.strip().str.lower()
df  = df[['City','Physical TId' , 'Terminal Id' ]]


df["City"].replace(my_districts, inplace=True)


# Data ingestion
df_city.city = df_city.city.str.lower()
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')
cities_Prep = pd.merge(cities_raw, df_city, how='left', left_on='City', right_on='city')
# air_quality = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')
#df[cities_Prep['city'].notna()]
df[cities_Prep['city'].notna()].dropna() 
#estate_per_city = cities_Prep[['city', 'lat', 'lng']]
# writing data
#df.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\zimbabwe_prov.csv', index = False)
#estate_per_city.to_csv(r'C:\Users\User\Documents\Python_Scripts\datacamp\Intermediate importing data\estate_per_city.csv', index = False)
# air_quality[air_quality['District'].notna()] # 36475 rows × 5 columns
#cities_Prep = pd.merge(air_quality, df_city, how='left', left_on='City', right_on='city')
#df[df['City']=='murehwa']
#d_f['New']=d_f[['A','B','C']].replace('None','').sum(1)


#import collections
#my_districts.keys()
#import operator
sorted(my_districts.items(), key=operator.itemgetter(1))
ordered_dict = collections.OrderedDict(sorted(my_districts.items()))
provinces = pd.DataFrame(my_districts.items(), columns=['district', 'province'])

#air_quality[air_quality['District'].isna()]
# Subsetting
cities_Prep[['city', 'lat', 'lng']]
df_city

In [143]:
df_prov = pd.read_excel(r'C:\Users\User\Downloads\list_of_district_of_zimbabwe-1661j.xlsx', usecols = [1,2])

In [144]:
df_prov['District'] = df_prov['District'].str.strip(',').str.strip().str.lower()

In [190]:
df_prov.shape

(62, 2)

In [191]:
df.shape

(39730, 4)

In [162]:
cities_raw

,Retailer Name,Merchant Id,Merchant Name,Address 1,Address 2,Address 3,City,Country,First Name,Last Name,...,SIM 2 Duplicates,Software Group,Warranty Status,Warranty Start Date,Warranty End Date,Warranty Batch,Notes,Currency,Province,District
0,%AIR ZIMBABWE,99988004GUVCHIP,TECH UPDATES,SIMON MAZ AND STONERIDGE,OPPOSITE BOKA,SOUTHVIEW,harare,Zimbabwe,NaN,NaN,...,NaN,Dummy Software Group,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
1,%AIR ZIMBABWE,99988004SARUMUZ,SIMUDZAI MUZIPASI,10 BRADFIELD SOUTVIEW SHOPS,WATERFALLS,HARARE,harare,Zimbabwe,SARUIDZAI,MUZIPASI,...,NaN,Dummy Software Group,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
2,A & E Enterprises,13073020ROYMUTR,A and E Enterprises Mutare,18Tembwe Street,MUTARE,MUTARE,mutare,Zimbabwe,R.,NaN,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
3,A 1 Supermarket,11368000204ODZI,A 1 Supermarket Odzi,Riverside Business Centre,Odzi,Odzi,mutare,Zimbabwe,NaN,O Phiri,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
4,A 1 Supermarket,21822104MISSERY,MISSERY MUBVUMBI,K1 GULF COMPLEX,CBD,CBD,harare,Zimbabwe,MISSERY,NaN,...,NaN,Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Harare,harare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39725,Zvidozvevanhu,13056002OMUTARE,Zvidozvevanhu General Dealer,3120 Mpudzi bus Centre,NaN,NaN,mutare,Zimbabwe,Mr,Runesu,...,NaN,EcoCash & Payment,No Warranty,NaN,NaN,NaN,NaN,USD,Manicaland,mutare
39726,Zvidozvevanhu,130560062NVIMBO,Zvidozvevanhu,Stand No 156,Nzvimbo Business Centre,Nzvimbo,mazowe,Zimbabwe,NaN,NaN,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Mashonaland Central,mazowe
39727,Zvipani Cooperation,13059064MAGUNJE,Zvipani Cooperation Magunje,Zvipani Business Centre Box 85,Magunje,Magunje,karoi,Zimbabwe,Murambiwa,S,...,NaN,Payment,No Warranty,NaN,NaN,NaN,[2020-09-10 20:47:31] Closed collections accou...,USD,NaN,NaN
39728,Zvipani Cooperation,13059064MAGUNJE,Zvipani Cooperation Magunje,Zvipani Business Centre Box 85,Magunje,Magunje,karoi,Zimbabwe,Murambiwa,S,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,[2020-03-06 11:03:42] RECALLED BY ANESU ON 6MA...,USD,NaN,NaN
39729,Zviparu & Sons,13060076MTDARWN,Zviparu and Sons,Katarina School,Box 369,Mount Darwin,mount darwin,Zimbabwe,NaN,NaN,...,NaN,EcoCash & Payment Pilot,No Warranty,NaN,NaN,NaN,NaN,USD,Mashonaland Central,mount darwin

In [146]:
#sorted(df_prov['District'])

In [192]:
cities_raw = pd.merge(df, df_prov, how='left', left_on='City', right_on='District')

In [197]:
cities_raw[cities_raw['District'].isna()]

,City,Address 3,Physical TId,Terminal Id,Province,District
152,victoria falls,VICTORIA FALLS,3C021476,SBM35067,NaN,NaN
536,victoria falls,NaN,3C468164,SBA28410,NaN,NaN
538,victoria falls,NaN,3C468335,SBA13681,NaN,NaN
541,victoria falls,NaN,3C469702,SBA28120,NaN,NaN
724,chivhu,NaN,3C469137,SBA09421,NaN,NaN
...,...,...,...,...,...,...
39439,victoria falls,Victoria falls,3C469640,SBM86974,NaN,NaN
39440,victoria falls,Victoria falls,3K239723,SBM51835,NaN,NaN
39563,chivhu,NaN,92923034,NaN,NaN,NaN
39665,victoria falls,NaN,3C023250,SBM49534,NaN,NaN
39712,victoria falls,Victoria Falls,68736500,SBM49499,NaN,NaN

In [176]:
cities_raw[cities_raw['District'].notna()]

,City,Address 3,Physical TId,Terminal Id,Province,District
0,harare,SOUTHVIEW,3C469032,SBA13410,Harare,harare
1,harare,HARARE,3C469802,SBA13349,Harare,harare
2,mutare,MUTARE,3C025503,SBM57065,Manicaland,mutare
3,mutare,Odzi,3C022047,SBM51284,Manicaland,mutare
4,harare,CBD,0840050038,SQL18221,Harare,harare
...,...,...,...,...,...,...
39725,mutare,NaN,3C021627,SBM25686,Manicaland,mutare
39726,mazowe,Nzvimbo,3C025609,SBM37732,Mashonaland Central,mazowe
39727,hurungwe,Magunje,3C469117,SBM08528,Mashonaland West,hurungwe
39728,hurungwe,Magunje,3K240190,SBM51985,Mashonaland West,hurungwe
39729,mount darwin,Mount Darwin,3C022736,SBM39219,Mashonaland Central,mount darwin

In [172]:
cities_raw.City.isna().sum()

0

In [173]:
cities_raw

,City,Address 3,Physical TId,Terminal Id,Province,District
0,harare,SOUTHVIEW,3C469032,SBA13410,Harare,harare
1,harare,HARARE,3C469802,SBA13349,Harare,harare
2,mutare,MUTARE,3C025503,SBM57065,Manicaland,mutare
3,mutare,Odzi,3C022047,SBM51284,Manicaland,mutare
4,harare,CBD,0840050038,SQL18221,Harare,harare
...,...,...,...,...,...,...
39725,mutare,NaN,3C021627,SBM25686,Manicaland,mutare
39726,mazowe,Nzvimbo,3C025609,SBM37732,Mashonaland Central,mazowe
39727,hurungwe,Magunje,3C469117,SBM08528,Mashonaland West,hurungwe
39728,hurungwe,Magunje,3K240190,SBM51985,Mashonaland West,hurungwe
39729,mount darwin,Mount Darwin,3C022736,SBM39219,Mashonaland Central,mount darwin

In [ ]:
df_city = pd.read_excel(r'C:\Users\User\Documents\Kingdom University\covid19_mcnamara\data\raw\cities_zw.xlsx', usecols = [0,1,2])
df_prov.District = df_prov.District.str.lower()